SERVER_PORT=
SERVER_URL=
MONGODB_URL=
MONGODB_LOGGER_URL=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=
JWT_CONFIRM_SECRET=
JWT_CONFIRM_EXPIRES_IN=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=